.loader-container {
  display: flex;
  justify-content: center;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
