.loader-container {
  display: flex;
  justify-content: center;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.button-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.my-button {
  background: linear-gradient(to right, #4a85c9, #7045dd);
  background-color: #4a85c9;
  color: #fff;
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  text-decoration: none;
  padding: 12px 38px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-block;
  box-shadow: inset 0px 0px 10px 0px #2d2d2d;
  align-self: flex-end;
  margin: 10px;
}
.my-button:hover {
  background: linear-gradient(to right, #6b96cf, #8568e1);
  background-color: #6b96cf;
}
.my-button:active {
  transform: scale(0.95);
}
.page-count {
  color: #7045dd;
  font-weight: bold;
}
