/* Navbar Styles */
.navbar {
  background-color: #333;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar-brand {
  margin-right: 2rem;
}

.navbar-item {
  color: #fff;
  text-decoration: none;
  padding-right: 1rem;
  font-size: 16px;
}

.navbar-item:hover {
  color: #fff;
  text-decoration: underline;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-start {
  display: flex;
  align-items: center;
}

.navbar-end {
  display: flex;
  align-items: center;
}

.input {
  width: 300px;
}

.button {
  margin-left: 5px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar-brand {
    margin-right: auto;
  }

  .navbar-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-item {
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .navbar-end {
    margin-top: 0.5rem;
  }

  .input {
    width: 100%;
  }
}
